* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(to right top,  rgb(255, 114, 213), rgb(65, 32, 255), rgb(135, 231, 255));
    background-size: cover;
    background-attachment: fixed;
    padding-top: 40px;
}
.main{
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: fit-content;
    margin: 0 auto;
}
.nameDiv{
    background-color: rgb(201, 199, 199);
    width: 200px;
    height: fit-content;
    margin: 0 auto;
}
.name{
    width: 140px;
    height: 30px;
    margin: 0 10px 10px 10px;
    background-color: rgb(155, 154, 154);
    border: 1px rgb(100, 94, 94) solid;
    border-radius: 5px;
}
.name::placeholder{
    color: black;
    padding-left: 2px;
}


.title{
    margin: 10px 10px 0 10px;
}
.submit{
    background-color: rgb(201, 199, 199);
    width: 200px;
    height: fit-content;
    margin: 0 auto;
    background-color: rgb(128, 126, 126);
}
.submit-button{
    background-color: rgb(173, 172, 172);
    height: 30px;
    margin: 10px 10px 10px 10px;
    border: 1px  rgb(63, 63, 63) solid;
    border-radius: 5px;
}

.delete{
    background-color: rgb(179, 0, 0);
    width: 200px;
    height: fit-content;
    margin: 0 auto;
}
.delete-button{
    background-color: rgb(255, 0, 0);
    height: 30px;
    margin: 10px 10px 10px 10px;
    border: 1px  rgb(105, 0, 0) solid;
    border-radius: 5px;
    cursor: pointer;
}
.alter{
    background-color: rgb(0, 136, 248);
    width: 200px;
    height: fit-content;
    margin: 0 auto;
}
.alter-button{
    background-color: rgb(0, 81, 255);
    height: 30px;
    margin: 10px 10px 10px 10px;
    border: 1px  rgb(25, 78, 109) solid;
    border-radius: 5px;
    cursor: pointer;
}
.tableDiv{
    padding-bottom: 10px;
    background-color: rgb(177, 177, 177);
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
.table{
    width: 400px;
    height: fit-content;
}
th{
    border: 3px dashed white;
}
td{
    border: 3px dashed white;
}

.insert{
    width: 200px;
    height: fit-content;
    margin: 0 auto;
    color: rgb(15, 71, 15);
    background-color: rgb(0, 255, 0);
    border-radius: 10px;
    padding-bottom: 10px;
    border: rgb(15, 71, 15) 3px solid;
}